##*.h linguist-language=C
##*.cs linguist-language=C#
##*.html linguist-language=HTML
##*.java linguist-language=Java
##*.js linguist-language=JavaScript
##*.json linguist-language=JSON
##*.md linguist-Documentation
##*.txt linguist-language=Text
##*.xml linguist-language=XML
##*.yml linguist-language=YAML
*.md linguist-documentation
