<log4net>
  <root>
    <!--控制级别，由低到高: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
    <!--比如定义级别为INFO，则INFO级别向下的级别，比如DEBUG日志将不会被记录-->
    <!--如果没有定义LEVEL的值，则缺省为DEBUG-->
    <level value="ALL" />
    <appender-ref ref="FileAppender_Info" />
    <appender-ref ref="FileAppender_Error" />
    <appender-ref ref="AdoNetAppender_MSSQL" />
  </root>

  <appender name="FileAppender_Info" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="debug" />
      <levelMax value="warn" />
    </filter>
    <file type="log4net.Util.PatternString" value="logs//logs.txt" />

    <!--是否追加到文件,默认为true，通常无需设置-->
    <appendToFile value="true" />

    <!--此时MaxSizeRollBackups和maximumFileSize的节点设置没有意义-->
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <preserveLogFileNameExtension value="true" />
    <datePattern value="-yyyyMMdd" />

    <!--变换的形式为日志大小-->
    <!--这种情况下MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
    <!--<RollingStyle value="Size" />-->

    <!--每天记录的日志文件个数，与maximumFileSize配合使用-->
    <!--<MaxSizeRollBackups value="10" />-->

    <!--每个日志文件的最大大小-->
    <!--可用的单位:KB|MB|GB-->
    <!--不要使用小数,否则会一直写入当前日志-->
    <!--<maximumFileSize value="2MB" />-->

    <!--日志格式-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level - %message%newline" />
    </layout>
  </appender>

  <appender name="FileAppender_Error" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="error" />
      <levelMax value="fatal" />
    </filter>
    <file type="log4net.Util.PatternString" value="errors//errors.txt" />

    <!--是否追加到文件,默认为true，通常无需设置-->
    <appendToFile value="true" />

    <!--此时MaxSizeRollBackups和maximumFileSize的节点设置没有意义-->
    <rollingStyle value="Date" />
    <staticLogFileName value="false" />
    <preserveLogFileNameExtension value="true" />
    <datePattern value="-yyyyMMdd" />

    <!--变换的形式为日志大小-->
    <!--这种情况下MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
    <!--<RollingStyle value="Size" />-->

    <!--每天记录的日志文件个数，与maximumFileSize配合使用-->
    <!--<MaxSizeRollBackups value="10" />-->

    <!--每个日志文件的最大大小-->
    <!--可用的单位:KB|MB|GB-->
    <!--不要使用小数,否则会一直写入当前日志-->
    <!--<maximumFileSize value="2MB" />-->

    <!--日志格式-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level - %message%newline" />
    </layout>
  </appender>

  <appender name="AdoNetAppender_MSSQL" type="System.CustomMSSQLAppender">
    <bufferSize value="10" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="TPJYycI7Pxf6ONNp8Px8+EfpFaxsg79+Qzkn7f/l1NeezzFohMmwdW1appUrMqKrGsbyOjQ6CaNUxwGo94ESYkDpqtz5iEFac2EDvrU8q/8AeM9JvYnwArAwoE4rGek3HaI3aHmUTbOl1p1JufuQ9XO04wrrbk+tS25es5ArmbaDi9s430WjClmytmDl1Fafo3DW/qnQLJI7R2W/KRyJbGv5RT7T+0AT" />
    <commandText value="INSERT INTO Sys_Log ([CreateDate],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%t" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="200" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="500" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="3000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>
</log4net>
